<div class="row">
  <div class="col-sm-12">

    <div class="post-errors">

    </div>

    <%= form_for @post, html: { multipart: true }, remote: true  do |f| %>
      <div class="form-group row">
        <%= f.label :title, "Заголовок", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :body, "Сообщение", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.trix_editor :body, class: "form-control", rows: "14" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= f.file_field :image, class: "form-control" %>
        </div>
      </div>
      <%= f.submit @post.new_record? ? 'Создать' : 'Сохранить', class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
