

<% @posts.each do |post| %>
  <hr>
  Заголовок: <%= post.title %><br>
  Сообщение: <%= post.body %><br>
  <%= link_to "Show", post_path(post) %> | <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Delete",  post_path(post), method: :delete, data: { confirm: "Вы действительно хотите удалить эту статью ?"} %>
<% end %>

<div class="container"><br>
  <%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
</div>
