<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= @post.title %></h1>
    <p class="lead"> <%= @post.body.html_safe %></p>
    <span style="font-size: 10px; color: gray;">
      <%= @post.created_at.in_time_zone('Moscow').strftime("%d-%m-%Y %H:%M") %>
    </span><br>
    <%= link_to "Edit", edit_post_path(@post), class: "badge badge-pill badge-info" %>  <%= link_to "Delete",  post_path(@post), method: :delete, class: "badge badge-pill badge-info", data: { confirm: "Вы действительно хотите удалить эту статью ?"} %>

  </div>
</div>

<h5>Комментарии:</h5>
<% @post.comments.each do |comment| %>

<div class="card">
  <div class="card-block">

    <%= comment.message %>
    <div>
      <span style="font-size: 10px; color: gray;">
        <%= comment.created_at.in_time_zone('Moscow').strftime("%d-%m-%Y %H:%M") %>
      </span>
    </div>

  </div>
</div><br>


<% end %>

<div class="row">
  <div class="col-sm-6">
    <%= form_for([@post, @post.comments.build]) do |f| %>

      <div class="form-group row">
        <%= f.label :message, "Сообщение", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_area :message, class: "form-control" %>
        </div>
      </div>

      <%= f.submit 'Добавить', class: "btn btn-primary"%>

    <% end %>
  </div>
</div><br>
